{% extends "index.html" %}
{% block title %}
    TimeTable
{% endblock title %}
{% block style %}
<link rel="stylesheet" href="/static/css/metroFair.css">
<style>
   .row {
    display: flex
;
    flex-wrap: nowrap;
    margin: 10px -10px;
}
.col-md-1.col-sm-12.text-center {
    margin: 10px;
}
</style>
{% endblock style %}

{% block body %}


<form class="timetable" method="POST">
    {% csrf_token %}
 <div class="journey_form ">
    <div class="row p-3">
        <div class="col-md-1 col-sm-12 text-center" style=" display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center;">
           <label for="country" class="form-label">From</label>
        </div>
        <div class="col-md-4 col-sm-12">
                <input list="fromOptions" name="from" id="from" class="form-select">
                <datalist id="fromOptions">
                        <option value="">--Select Starting Point--</option>
                        {% for i in timeTable %}
                        <option value="{{i.FROM}}">{{i.FROM}}</option>
                        {% endfor %}
                </datalist>
        </div>
        <div class="col-md-1 col-sm-12 text-center" style=" display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center;">
           <label for="state" class="form-label" style="float:right;">To</label>
        </div>
        <div class="col-md-4 col-sm-4">
                <input list="toOptions" name="to" id="to" class="form-select">
                <datalist id="toOptions">
                    <option value="-- Select Station --">-- Select Bus Depot --</option>
                    {% for i in timeTable %}
                    <option value="{{i.TO}}">{{i.TO}}</option>
                    {% endfor %}
                </datalist>
        </div>
        <div class="col-md-2 col-sm-12" style=" display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center;">
             <input type="submit" name="btnShowRoute" value="Get busSchedules"  id="btnShowRoute" class=" btn btn-primary btn-lg text-center">
        </div>
    </div><!--row/-->
    <div class="row station pb-3">
        <div class="col-md-4">
            <p style="font-size:18px">From : <span style="font-weight:600">
                <span id="lblStation">{{bfrom}}</span></span>&nbsp;&nbsp;
                {% load static %}
                <img src="{% static 'img/bus-13371.png' %}" style="height: 100px; width: 100px;">
                &nbsp;&nbsp;  to : <span style="font-weight:600"><span id="lblToStation">{{bto}}</span></span></p>
        </div>
    </div><!--row/-->
    <h2>Departure Timings</h2>
    <div id="result">
        {{timing}}
    </div>
</div>
    
</form>

{% endblock body %}