<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Keyboard accessible animated card</title>
  {% comment %} <link rel="stylesheet" href="12.css"> {% endcomment %}
  <link rel="stylesheet" href="/static/css/destinationCards.css">


</head>
<body>
<!-- partial:index.partial.html -->
<section>
  <h2>Destinations</h2>
<div class="card_holder">
  
  <article class="card">
    <img
      class="card__background"
      src="/media/Destinations/IMG-20250130-WA0030.jpg"
      alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
      width="1920"
      height="2193"
    />
    <div class="card__content | flow">
      <div class="card__content--container | flow">
        <h2 class="card__title">Vishrambaug-Kasba Peth</h2>
        <p class="card__description">
          Kasba peth-vishrambaug area is the heart of Pune city,The original Pune city,known for its Vibrant Markets with deep Cultural and Historical significance and ever busy roads and Majestic Temples very close to heart of Punekars.
        </p>
      </div>
      <a href="/destinfo/vishrambaug-kasba-peth"><button class="card__button">Read more</button></a>
    </div>
  </article>
  <article class="card">
    <img
      class="card__background"
      src="/media/Destinations/IMG-20250130-WA0011.jpg"
      alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
      width="1920"
      height="2193"
    />
    <div class="card__content | flow">
      <div class="card__content--container | flow">
        <h2 class="card__title">Aundh-Baner</h2>
        <p class="card__description">
          It is an Upscale up and coming residential area and Commercial hub With widespread Hinjewadi IT Hub.It is home to the Savitribai Phule Pune university.
        </p>
      </div>
      <a href="/destinfo/aundh-baner"><button class="card__button">Read more</button></a>
    </div>
  </article>
  <article class="card">
    <img
      class="card__background"
      src="/media/Destinations/IMG-20250130-WA0041.jpg"
      alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
      width="1920"
      height="2193"
    />
    <div class="card__content | flow">
      <div class="card__content--container | flow">
        <h2 class="card__title">Dhankawadi-Sahkarnagar</h2>
        <p class="card__description">
          Primarily Resdiential Area of Authentic Punekars,Located amidst The Taljai Hill and Parvati Hill
        </p>
      </div>
      <a href="/destinfo/dhankawadi-sahkarnagar"><button class="card__button">Read more</button></a>
    </div>
  </article>
  <article class="card">
    <img
      class="card__background"
      src="/media/Destinations/WhatsApp_Image_2025-01-30_at_22_cusjweg.25.50_8c9264d6.jpg"
      alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
      width="1920"
      height="2193"
    />
    <div class="card__content | flow">
      <div class="card__content--container | flow">
        <h2 class="card__title">Kothrud-Bavdhan</h2>
        <p class="card__description">
          densely populated Residential areas,well connected to IT areas of pune as well as city with presence of big educational institutes and many upcoming commercial and residential areas as well.
        </p>
      </div>
      <a href="/destinfo/kothrud-bavdhan"><button class="card__button">Read more</button></a>
    </div>
  </article>
</div>
<a href="/destinations/" style="display: block; text-align: center; margin-top: 20px; font-family: var(--font-title); font-size: 1.125rem; color: var(--brand-color); text-decoration: none;">View More</a>

</section>
<!-- partial -->
  
</body>
</html>
