<div class="ag-format-container">
    <div class="ag-courses_box">
      <div class="ag-courses_item">
        <a href="/metroFair/" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="static/img/train-1045.png" style="height: 100px; width: 100px;">
          </div>
  
          <div class="ag-courses-item_date-box">
            <span class="ag-courses-item_date">
              &nbsp;METRO Fair Calculator
            </span>
          </div> 
        </a>
      </div> 
  
      <div class="ag-courses_item">
        <a href="/timeTable/" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="static/img/bus-1052.png" style="height: 100px; width: 100px;">
          </div>
  
          <div class="ag-courses-item_date-box">
            <span class="ag-courses-item_date">
              Local Bus Time Table
            </span>
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="/destinations/" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="static/img/dest.png" style="height: 100px; width: 100px;">
          </div>
  
          <div class="ag-courses-item_date-box">
            <span class="ag-courses-item_date">
              Destinations
              </span>
          </div>
        </a>
      </div>
    </div>
    <div class="ag-courses_box fp-2">
      <div class="ag-courses_item">
        <a href="/emergency/" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
          <div class="ag-courses-item_title">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="static/img/emergincy.png" style="height: 110px; width: 110px;">
          </div>
          <div class="ag-courses-item_date-box">
            <span class="ag-courses-item_date">
              Emergency Services
            </span>
          </div>
        </a>
      </div>
  
      {% comment %} <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            Motion Design
          </div>
  
          <div class="ag-courses-item_date-box">
            Start:
            <span class="ag-courses-item_date">
              30.11.2022
            </span>
          </div>
        </a>
      </div> {% endcomment %}

      
      
    </div>
</div>