<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Keyboard accessible animated card</title>
  {% comment %} <link rel="stylesheet" href="12.css"> {% endcomment %}
  <link rel="stylesheet" href="/static/css/destinationCards.css">


</head>
<body>
<!-- partial:index.partial.html -->
<section>
  <h2>Destinations</h2>
<div class="card_holder">
  
  <article class="card">
    <img
      class="card__background"
      src="static/img/destImage.png"
      alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
      width="1920"
      height="2193"
    />
    <div class="card__content | flow">
      <div class="card__content--container | flow">
        <h2 class="card__title">Colombia</h2>
        <p class="card__description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum in
          labore laudantium deserunt fugiat numquam.
        </p>
      </div>
      <button class="card__button">Read more</button>
    </div>
  </article>
  <article class="card">
    <img
      class="card__background"
      src="static/img/destImage.png"
      alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
      width="1920"
      height="2193"
    />
    <div class="card__content | flow">
      <div class="card__content--container | flow">
        <h2 class="card__title">Colombia</h2>
        <p class="card__description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum in
          labore laudantium deserunt fugiat numquam.
        </p>
      </div>
      <button class="card__button">Read more</button>
    </div>
  </article>
  <article class="card">
    <img
      class="card__background"
      src="static/img/destImage.png"
      alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
      width="1920"
      height="2193"
    />
    <div class="card__content | flow">
      <div class="card__content--container | flow">
        <h2 class="card__title">Colombia</h2>
        <p class="card__description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum in
          labore laudantium deserunt fugiat numquam.
        </p>
      </div>
      <button class="card__button">Read more</button>
    </div>
  </article>
  <article class="card">
    <img
      class="card__background"
      src="static/img/destimage.png"
      alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
      width="1920"
      height="2193"
    />
    <div class="card__content | flow">
      <div class="card__content--container | flow">
        <h2 class="card__title">Ameriaca</h2>
        <p class="card__description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum in
          labore laudantium deserunt fugiat numquam.
        </p>
      </div>
      <button class="card__button">Read more</button>
    </div>
  </article>
</div>
<a href="/destinations/" style="display: block; text-align: center; margin-top: 20px; font-family: var(--font-title); font-size: 1.125rem; color: var(--brand-color); text-decoration: none;">View More</a>

</section>
<!-- partial -->
  
</body>
</html>
